<form action="/answer" data-turbo="false">
  <label for="exampleFormControlInput1" class="form-label">Ask a question:</label>
  <input type="text" name="question" class="form-control" value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
